@import '~bootstrap/scss/bootstrap';

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
 
.rounded-circle {
    border-radius: 50%!important;
}

.avatar {
    height: 32px;
    width: 32px;
}

.nav-link:active{
    font-weight: bold;
}